img{
    border: 8px solid black;
    border-radius: 25px;
}
.img2{
    border:3px  rgb(192, 23, 23);
    border-radius: 25px;
    height: 200px;
    width: 200px;
}
.img3{
    border:3px solid black;
    border-radius: 25px;
    height: 200px;
    width: 200px;
}